{% extends '_layouts/in_app.html.twig' %}

{% block title %}Modification du portefeuille {{ wallet.label }} - Bricount{% endblock %}

{% block content %}
    <h1>Modifier le portefeuille {{ wallet.label }}</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_end(form) }}

{% endblock %}
