{% extends '_layouts/in_app.html.twig' %}

{% block title %}Portefeuille {{ wallet.label }} - Bricount{% endblock %}

{% block content %}
    <h1>{{ wallet.label }}</h1>

    <div>
        <a href="{{ path('wallets_add_user', {"uid": wallet.uid}) }}">
            + Ajouter un utilisateur
        </a>
    </div>

    <div>
        <a href="{{ path('expenses_create', {"uid": wallet.uid}) }}">
            + Ajouter une dépense
        </a>
    </div>

    <div>
        <a href="{{ path('wallets_delete', {'uid': wallet.uid}) }}">
            Supprimer le portefeuille
        </a>
    </div>

    <h2>Montant total : {{ wallet.totalAmount / 100 }}</h2>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Qui</th>
            <th scope="col">Libellé</th>
            <th scope="col">Montant</th>
        </tr>
        </thead>
        <tbody>
        {% for expense in expenses %}
            <tr>
                <td>{{ expense.createdDate | date('d/m/Y') }}</td>
                <td>{{ expense.createdBy.name }}</td>
                <td>{{ expense.description }}</td>
                <td>{{ (expense.amount / 100)|number_format(2, ',', ' ') }} €</td>
                <td><a href="{{ path("expenses_delete", {"wallet_uid": wallet.uid, "expense_uid": expense.uid}) }}">Supprimer
                        la dépense</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        {% for i in 1..maxPaginationPage %}
            <a class="{% if page == i %}active{% endif %}"
               href="{{ path("wallets_show", {"uid": wallet.uid}) }}?page={{ i }}&limit={{ limit }}">
                {{ i }}
            </a>
        {% endfor %}
    </div>
{% endblock %}
